.nav{
	padding: 10px;
   	padding-left: 280px;
   	padding-right: 290px;
	}
.btn{
	padding-left: 20px;
   	padding-right: 20px;
   	border-radius: 20px;
	}
.sidebar {
  margin: 0;
  padding: 0;
  width: 280px;
  background-color:white;
  height: 100%;
  overflow: auto;
  float: right;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
  .sec{
    position: relative;
    right: 0;
    top:-22px;
}

.counter.counter-lg {
    top: -7px !important;
}

.sidebar a {
  display: block;
  color: gray;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: ;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color:#C1C2CC;
  color: gray;
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.pad{
	padding: 20px;
}
.icon{
	padding-right: 10px;
}
